.showcase_section {
  height: 750px;
  position: relative;
  background-color: #3a4256;
  /* background-image: linear-gradient(#5c5c5c60, #5c5c5c6b),
    linear-gradient(#5c5c5c30, #5c5c5c30),
    url("../../../../assets/black-and-white-cardigan-sweater-close-up-236028.jpg"); */
  background-size: cover;
}
.showcase_section::before,
.showcase_section::after {
  height: 750px;
  content: "";
  position: absolute;
  top: 0;
  width: 58%;
  right: -120px;
  /* background-color: #3a4256; */

  background-image: linear-gradient(#03030318, #03030318),
    linear-gradient(#03030318, #03030318),
    url("../../../assets/black-and-white-cardigan-sweater-close-up-236028.jpg");
    background-size: cover;
  /* opacity: 0.5; */

  transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
}

/* .showcase::before,
.showcase::after{
    content: "";
    position: absolute;
    height: 100px;
    bottom: -60px;
    right: 0px;
    left: 0px;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
} */


.showcase_section_content {
  margin-top: 200px;
  color: white;
}
.showcase_section_content h1 {
  font-weight: 800;
  font-size: 45px;
}
.highlight_title{
  color : rgb(19, 190, 190);
}
.showcase_section_content .btn_container button {
  border: 1px solid gainsboro;
  background: none;
  color: rgb(19, 190, 190);
  padding: 10px 20px;
  margin-right: 15px;
}
.learn_more{
  color: rgb(255, 255, 255) !important;
}
.showcase_img_container {
  position: relative;
}
.showcase_img {
  width: 100%;
  height: auto;
  margin-top: 180px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 999 !important;
  position: absolute;
}
